body{
  font-family: sans-serif;
}
.center {
  text-align:center;
  position: absolute;
  left: 40%;
}


.mustknow {
  text-align:left;
	background-color: mistyRose;
  border: 2px solid;
  border-color: deeppink;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}
